---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';

import { SITE_TITLE } from '../config';

export interface Props {
	title: string;
	description: string;
	image?: string;
}

const { title, description, image = '/header.jpg' } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="keywords" content="nodejs,javascript,typescript,sql,mysql,mariadb,dotnet,c#,csharp,docker,nomad,terraform" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="author" content="Felipe Angelo Sgarbi" />
<meta name="generator" content={Astro.generator} />
<meta property="url" content={Astro.url} />
<meta property="type" content="website" />
<meta property="locale" content="en_US" />
<link rel="canonical" href={Astro.url} />

<!-- Primary Meta Tags -->
<meta property="site_name" content={SITE_TITLE} />
<meta name="description" content={description} />
<meta name="title" content={title !== SITE_TITLE ? `${title} | ${SITE_TITLE}` : SITE_TITLE} />
<title>{title !== SITE_TITLE ? `${title} | ${SITE_TITLE}` : SITE_TITLE}</title>

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title !== SITE_TITLE ? `${title} | ${SITE_TITLE}` : SITE_TITLE} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Embed -->
<meta property="image" content={new URL(image, Astro.url)} />
<meta property="image:height" content="3313" />
<meta property="image:width" content="5000" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title !== SITE_TITLE ? `${title} | ${SITE_TITLE}` : SITE_TITLE} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- Icons -->
<link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png" />
<link rel="icon" type="image/png" , sizes="192x192" href="/favicon/android-icon-192x192.png" />
<link rel="icon" type="image/png" , sizes="32x32" href="/favicon/favicon-32x32.png" />
<link rel="icon" type="image/png" , sizes="96x96" href="/favicon/favicon-96x96.png" />
<link rel="icon" type="image/png" , sizes="16x16" href="/favicon/favicon-16x16.png" />
<link rel="manifest" href="/favicon/manifest.json" />
<meta name="msapplication-TileColor" content="#3e3e3e" />
<meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png" />
<meta name="theme-color" content="#3e3e3e" />
